:root {
    --background: linear-gradient(to right, #130F40 0%, #000000 100%);
    --back: #130F40;
    --front: #f5deb3;
    --screen: #f5deb3bf;
}

body {
    margin: 0;
    padding: 0;
    background-image: var(--background);
    color: var(--front);
    overflow: scroll;
}

#grid1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    row-gap: 10px;
}

.grid-item1 {
    padding: 5px;
    overflow: hidden;
}

#upper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    overflow: visible !important;
}

#connect {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    background-color: #2183e6;
    color: white;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}

#connect:hover:enabled {
    box-shadow: 0px 2px 4px 0px var(--front);
}

#connect:disabled {
    background-color: #335841;
    cursor: auto;
}

.tab {
    display: inline-block;
    background-color: var(--front);
    color: var(--back);
    border: none;
    border-radius: 20px;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.tab:hover,
.tab:focus {
    background-color: var(--back);
    color: var(--front);
    border: 2px solid var(--front);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: var(--front);
    color: var(--back);
    border: none;
    border-radius: 20px;
    margin: 0 10px;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: var(--back);
    color: var(--front);
    border: 2px solid var(--front);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--front);
    font-size: 20px;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 2px 3px 0px var(--front);
    border-radius: 20px;
    z-index: 10;
}

.dropdown-content a {
    color: var(--back);
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: var(--back);
    color: var(--front);
}

.show {
    display: block;
}

#middle {
    border: 3px solid var(--front);
    border-radius: 15px;
}

#welcome {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 84px;
    font-weight: bold;
    letter-spacing: 10px;

    animation-name: welcome;
    animation-delay: 0.1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes welcome {
    0% {
        letter-spacing: 10px;
    }

    50% {
        letter-spacing: 30px;
    }

    100% {
        letter-spacing: 10px;
    }
}

#message {
    display: none;
    height: 98%;
    width: 98%;
    margin: auto;
}

.message-record {
    height: 90%;
    width: 35%;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    border: transparent;

    overflow: scroll;
    resize: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: var(--screen);
    color: var(--back);
}

#send-block {
    display: flex;
    flex-flow: column nowrap;
    height: 90%;
    width: 20%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#message-box {
    margin: 50px auto;
    padding: 10px;
    width: 90%;

    font-size: 16px;
    text-align: center;
    background-color: var(--screen);
    color: var(--back);
    border: 2px solid var(--front);
    border-radius: 5px;
    overflow: scroll;
}

#send {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

    transition: all 0.5s;
    background-color: white;
    color: dodgerblue;
    border-radius: 10px;
}

#send:hover {
    background-color: dodgerblue;
    color: white;
    border-radius: 5% 50% 50% 5%;
}

#video-call {
    display: none;
    height: 98%;
    width: 98%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.video-box {
    position: relative;
    height: 90%;
    width: 100%;
    margin: auto 10px;
    background-color: var(--screen);
    border-radius: 25px;
}

.video-screen {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    object-fit: cover;
    border-radius: 25px;
}

#screen-share {
    display: none;
    height: 98%;
    width: 98%;
    margin: auto;
}

.share-box {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: auto;
    background-color: var(--screen);
    border-radius: 25px;
}

.share-screen {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    z-index: 5;
}

#lower {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.vibrate {
    animation-name: vibrate;
    animation-delay: 0.25s;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
}

@keyframes vibrate {
    0% {
        background-color: rgb(100, 225, 50);
        border: 5px solid transparent;
    }

    25% {
        background-color: rgb(50, 200, 100);
        border: 5px solid darkcyan;
    }

    50% {
        background-color: darkgreen;
        border: 5px dashed rgb(100, 225, 50);
    }

    75% {
        background-color: rgb(50, 200, 100);
        border: 5px solid darkcyan;
    }

    100% {
        background-color: rgb(100, 225, 50);
        border: 5px solid transparent;
    }
}

svg {
    display: inline-block;
    margin: 10px;
    height: 40px;
    width: 40px;
    fill: white;
}

#receive-button {
    margin: 10px auto;
    background-color: rgb(0, 200, 25);
    border-radius: 50%;
    border: transparent;
    cursor: pointer;
    transition: all 0.5s;
}

#hangup-button {
    margin: 10px auto;
    background-color: rgb(255, 25, 0);
    border-radius: 50%;
    border: transparent;
    cursor: pointer;
    transition: all 0.5s;
}

#receive-button:hover:enabled,
#hangup-button:hover:enabled {
    border: 5px solid var(--front);
}

#receive-button:disabled,
#hangup-button:disabled,
#toggle-vid:disabled,
#toggle-mic:disabled,
#toggle-share:disabled {
    background-color: lightslategray;
    cursor: auto;
}

#toggle-vid,
#toggle-mic,
#toggle-share,
#theme {
    margin: 10px auto;
    background-color: var(--front);
    border-radius: 50%;
    border: transparent;
    cursor: pointer;
    transition: all 0.5s;
}

#toggle-vid:hover:enabled,
#toggle-mic:hover:enabled,
#toggle-share:hover:enabled,
#theme:hover {
    box-shadow: 0 0 0 5px var(--front);
}

#vid-svg,
#no-vid-svg,
#mic-svg,
#no-mic-svg,
#share-svg,
#no-share-svg,
#moon-svg,
#sun-svg {
    fill: var(--back) !important;
}
